<div class="container">
    <div class="row justify-content-center mt-95 mb-5">
        <div class="col-12 col-sm-9 col-md-7 col-lg-6 mb-4">
          <div class="card border-white text-center mx-auto">
            <div (click)="goToCharacter()" class="card-body p-5" style="cursor: pointer;">
                <img class="img-fluid" src="../../../assets/images/rick-i-morty-rodzinka.webp" alt="characters">
    
              <button class="btn btn-danger btn-md btn-block text-uppercase mt-3" type="submit">BOHATEROWIE</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-9 col-md-7 col-lg-6 mb-4">
            <div class="card border-white text-center mx-auto">
              <div (click)="goToLocation()" class="card-body p-5" style="cursor: pointer;">
                <img class="img-fluid" src="../../../assets/images/localization.jpeg" alt="location">
      
                <button class="btn btn-danger btn-md btn-block text-uppercase mt-3" type="submit">LOKACJE</button>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-9 col-md-7 col-lg-6 mb-4">
            <div class="card border-white text-center mx-auto">
              <div (click)="goToEpisodes()" class="card-body p-5" style="cursor: pointer;">
                <img class="img-fluid" src="../../../assets/images/episodes.jpeg" alt="episode">
      
                <button class="btn btn-danger btn-md btn-block text-uppercase mt-3" type="submit">ODCINKI</button>
              </div>
            </div>
          </div>
    </div>
</div>
