<div class="container">
    <div class="card mt-95 mb-100 p-4">
        <div class="row">
          <div class="col-12 col-sm-8 d-flex justify-content-center justify-content-md-start align-items-center py-3">
            <h3>Informacje o lokalizacji</h3>
          </div>
          <div class="col-12 col-sm-4 py-3 d-flex justify-content-end align-items-center">
            <a [routerLink]="['/location', location?.id, 'edit']" class="btn btn-success btn-sm" data-placement="top" data-toggle="tooltip" title="Edit" type="button">Edytuj</a>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12 col-sm-12">
            <div class="card c-brd-light">
                <div class="row">
                    <div class="col-12 d-flex flex-column flex-md-row justify-content-center justify-content-md-around align-items-center">
                        <h3 class="card-title py-4">{{location?.name}}</h3>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Typ: {{location?.type}}</li>
                          <li class="list-group-item">Wymiar: {{location?.dimension}}</li>
                          <li class="list-group-item">Liczba mieszkańców: {{location?.residents?.length}}</li>
                        </ul>
                    </div>
                </div>
              </div>
          </div>
        </div>
    </div> 
</div>


