/*-----------------------Font Family------------------------------------*/
$main-font: 'Rock Salt', cursive, sans-serif;
$secondary-font: 'Cinzel', serif;

/*----------------------- Color------------------------------------*/
$dark-red: rgba(36,30,0,1);

$red: rgba(121,9,33,1);

$yellow: rgb(255,169,0);

$green: green;

$white: #fff;

$grey: #8f8f8f;

$light-grey: #dadada;

$blue: #2680EB;
