.navbar {
  box-shadow: 0 6px 10px 0 rgb(77 88 221 / 16%);
    .burger {
      outline: none;
      transform: translateX(20px);
        .navbar-toggler-icon {
          background-size: 150%;
        }
    }
    .offcanvas-start {
    width: 250px;
    }
    .list {
        list-style: none;
        padding-left: 0;
    }
}

