<nav class="navbar fixed-top navbar-light bg-light py-3">
    <div class="container-fluid">
        <button class="btn burger px-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <span class="navbar-toggler-icon"></span>
        </button>
          
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel">Sekcje</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <div class=" mt-3">
                <ul class="list" >
                  <li class="nav-item"><a class="nav-link text-black" href="#">Bohaterowie</a></li>
                  <li class="nav-item"><a class="nav-link text-black" href="#">Lokacje</a></li>
                  <li class="nav-item"><a class="nav-link text-black" href="#">Odcinki</a></li>
                </ul>
              </div>
            </div>
        </div>

      <span class="navbar-brand mb-0 mx-0 h1">Rick & Morty</span>
      <button class="btn" aria-disabled="true"></button>
    </div>
</nav>